.figure__btt {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.figure__btt.show {
    opacity: 1;
    visibility: visible;
}

.img__btt {
    width: 4rem;
    transition: ease-in-out 0.2s;
}

.img__btt:hover {
    transform: scale(1.2);
}