.hero-banner {
    width: 100%;
    height: 88vh;
    margin-top: 12vh;
    /* border: solid red; */

    display: flex;
    align-items: center;
    flex-direction: column;



    h1 {
        color: white;
        font-size: 3em;
        text-align: center;
    }
}

.hero-banner__div_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 3em;
}

.hero-banner__article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}

.souris__heroBanner {
    display: none;
}

.fleches__heroBanner {
    transform: translateY(2.5em);
}

.suiteHeroBanner {
    animation: infinite 1.5s HerobannerAnim;
}

@keyframes HerobannerAnim {
    0% {
        transform: translateY(1em);
    }

    50% {
        transform: translateY(3em);
    }

    100% {
        transform: translateY(1em);
    }
}

.CV,
.contact {
    padding: 1em 2em;
    border-radius: 20px;
    color: #FFFBFD;
    text-decoration: none;
}

.contact {
    background-color: #11897A;
    transition: all 0.3s;
}

.contact:hover {
    -webkit-box-shadow: 5px 10px 5px -3px #1cc6b2;
    box-shadow: 5px 10px 5px -3px #1cc6b2;
}

.CV {
    background-color: #7028CD;
    transition: all 0.3s;
}

.CV:hover {
    -webkit-box-shadow: -5px 10px 5px -3px #8367C7;
    box-shadow: -5px 10px 5px -3px #8367C7;
}


.metier {
    position: relative;
}

.metier::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 30px;
    background-color: #8367C7;
    opacity: .64;
    top: 35px;
    right: -10px;
    z-index: -999;
}

.hero-banner::before {
    content: '';
    position: absolute;
    background-image: url('../assets/decorRight.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    width: 20em;
    height: 20em;
    z-index: -9999;
}

.hero-banner::after {
    content: '';
    position: absolute;
    background-image: url('../assets/decorLeft.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    width: 20em;
    height: 20em;
    z-index: -9999;
}


@media screen and (min-width: 768px) {
    .hero-banner::before {
        width: 30em;
        height: 30em;
    }

    .hero-banner::after {
        width: 25em;
        height: 25em;
    }

    h1 {
        font-size: 3.5em;
    }

    .fleches__heroBanner {
        display: none;
    }

    .souris__heroBanner {
        display: flex;
    }

    .hero-banner__article {
        flex-direction: row;
    }
}